*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html{
    overflow-x: hidden;
}

.logo{
   object-fit: cover;
   height: 2.7rem;
}

.logo-left{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.logo-left p{
    font-weight: bold;
    color: #DCE0E6;
}

section{
   min-height: 100vh;
   background-color: #1F184E;
}

.middle ul{
    display: flex;
    align-items: center;
    list-style: none;
    color: #DCE0E6;
    gap: 1.3rem;
}

.both{
    padding: 0.7rem 3rem;
    cursor: pointer;
    border-radius: 0.9rem;
    font-weight: bold;
    border: 2px solid #1ABC9C;
}

.buttons-right .left{
    color: #1ABC9C;
    background-color: #1F184E;
    transition: all cubic-bezier(.61, 1.17, .87, .63) 0.3s;
}

.left:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #1ABC9C;
    color: #1F184E;
}

.buttons-right .right{
    color: #1F184E;
    background-color: #1ABC9C;
    transition: all cubic-bezier(.61, 1.17, .87, .63) 0.4s;
}

.buttons-right .right:hover{
    background-color: #1F184E;
    color: #1ABC9C;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
     transform: scale(1.1);
}

.buttons-right{
    display: flex;
    gap: 1rem;
}

nav{
    margin: 0rem 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    background-color: #1F184E;
}

.lil-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13rem;
}

.hero{
    padding: 0 5rem;
    gap: 2rem;
    width: 100vw;
    min-height: calc(100vh - 5rem);
    background-color: #1F184E;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-picture{
    object-fit: cover;
    width: 100%;
}

.left-part{
    width: 40%;
    -webkit-transform: translateX(-120%);
    -moz-transform: translateX(-120%);
    -o-transform: translateX(-120%);
    transform: translateX(-120%);
    animation-name: thirdAnimation;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.67, .4, .3, .76);
}

.right-part{
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    animation-name: fourthAnimation;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.67, .4, .3, .76);
}

@keyframes thirdAnimation{
    0%{
        transform: translateX(-120%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes fourthAnimation {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}
.left-part h1{
    font-size: 3rem;
    color: #DCE0E6;
    text-shadow: 5px 3px 3px #1F184E, 5px 3px 5px #1ABC9C;
    animation-name: animationTwo;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.44, 1.32, .94, .54);
}

@keyframes animationTwo{
    0%{
        text-shadow: 5px 3px 3px #1F184E, 5px 3px 5px #1ABC9C;
    }
    50%{
        text-shadow: 7px 3px 6px #1F184E, 7px 3px 6px #1ABC9C;
    }
    100%{
        text-shadow: 5px 6px 3px #1F184E, 5px 6px 5px #1ABC9C;
    }
}

.left-part p{
    color: #DCE0E6;
    margin: 2rem 0rem 3.5rem 0rem;
}

.upper-part img{
    height: 4rem;
    object-fit: cover;
    opacity: 0.6;
    /* margin-top: 3.5rem; */
}


.upper-part{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.two{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right-div h1{
    color: #DCE0E6;
    font-size: 2.3rem;
}

.right-div p{
    margin: 3.7rem 0rem;
    color: #DCE0E6;
    font-weight: normal;
}

.lower-part {
    display: flex;
    margin: 2rem 5rem;
    gap: 2rem;
}

.img-div{
    width: 55%;

}
.lower-part .img-div img {
   width: 100%;
    object-fit: cover;
}

.right-div{
    width: 45%;
}

.right-part{
    width: 60%;
    align-self: flex-end;
}

.left.both.seconddd{
    box-shadow: -13px 3px 19px 5px #000;
    animation-name: animationOne;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.17, .63, .83, .67);
    animation-direction: alternate;
}

@keyframes animationOne{
    0% {
        box-shadow: -13px 3px 19px 5px #000;
    }
    25% {
        box-shadow: -3px 13px 23px 5px #000;
    }
    50%{
        box-shadow: 5px 23px 27px 5px #000;
    }
    75%{
        box-shadow: 13px 30px 35px 5px #000;
    }
    100%{
        box-shadow: 20px 30px 53px 5px #000;
    }
}

@media screen and (max-width: 415px){
.hero {
    padding: 0 2rem;
    gap: 2rem;
    width: 100vw;
    background-color: #1F184E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
   }

   .left-part{
    width: 100%;
    margin-top: 5rem;
   }

   .left-part h1, p{
    text-align: center;
   }

   .right-part{
    width: 100%;
   }

   .buttons-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   }

   .img-div{
    margin: 2rem 0;
   }

   .img-div img{
    width: 100%;
   }

   .two{
    background-color: #1F184E;
    min-height: 100vh;
    justify-content: flex-start;
   }

   .lower-part{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }

   section{
    width: 100vw;
    min-height: 100vh;
   }

   .right-div{
    width: 85%;
   }

   .right-div p {
       margin: 1.5rem 0rem;
       font-size: 0.8rem;
   }

   .right-div h1{
    text-align: center;
   }

   .upper-part{
    align-items: center;
    justify-content: space-evenly;
    padding: 0 1.5rem;
   }
}

@media screen and (max-width: 401px) {
    .upper-part{
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0.3rem;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width: 1180px){
    .both{
        padding: 0.7rem 2.5rem;
    }

    .left-part {
        width: 50%;
    }
    .right-part {
        width: 50%;
        align-self: initial;
}
}

@media screen and (max-width: 1035px) {
    .both {
        padding: 0.7rem 1.5rem;
        }
    .left-part {
        width: 50%;
        }

    .right-part {
        width: 50%;
        align-self: initial;
    }
}
@media screen and (max-width: 1335px){
    .lil-div {
        gap: 11rem;
        }
}

@media screen and (max-width: 1240px) {
    .lil-div {
        gap: 9rem;
    }
}

@media screen and (max-width: 1150px) {
    .lil-div {
        gap: 7rem;
    }
}

@media screen and (max-width: 1180px) {
    .lil-div {
        gap: 5rem;
    }
}
@media screen and (max-width: 1165px) {
    .lil-div {
        gap: 4rem;
    }
}

@media screen and (max-width: 915px) {
    .lil-div {
        gap: 3rem;
    }
}

@media screen and (max-width: 975px) {
    .both {
        padding: 0.7rem 0.8rem;
    }
        .lower-part {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 3rem;
        }

        .right-div {
            width: 100%;
            padding: 2rem 5rem;
        }

        .right-div p {
            text-align: center;
            margin: 2rem 0rem;
        }

        .right-div h1 {
            text-align: center;
        }

        .buttons-right {
            justify-content: center;
        }

        .left.both.seconddd {
            padding: 0.7rem 13rem;
        }

        .two {
            gap: 5rem;
        }

        .upper-part {
            margin-top: 5rem;
        }
}

.line {
    border-radius: 0.2rem;
}

@keyframes firstLine {
    0% {
        top: 0;
    }
    50%{
        top: 50%;
        transform: translateY(-50%);
    }

    100% {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
}

@keyframes firstLineee {
    0% {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }

    50% {
        top: 50%;
        transform: translateY(-50%);
    }

    100% {
        top: 0;
        transform: initial;
    }
}

@keyframes thirdLine {
    0% {
        bottom: 0;
    }
    50%{
        bottom: 50%;
        transform: translateY(50%);
    }

    100% {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
    }
}

@keyframes thirdLineee {
    0% {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
    }

    50% {
        bottom: 50%;
        transform: translateY(50%);
    }

    100% {
        bottom: 0;
        transform: initial;
    }
}

.hamburger {
    opacity: 0;
}

    /* ODAVDE PREBACUJEM KAO ZA TELEFON */
@media screen and (max-width: 880px) {
    .lil-div{
        display: none;
    }
                .line {
                    height: 0.25rem;
                    width: 2rem;
                    background-color: #1ABC9C;
                    position: absolute;
                }
        
                .line.first-line {
                    top: 0;
                }
        
                .line.second-line {
                    top: 50%;
                    transform: translateY(-50%);
                    opacity: 1;
                    transition: all 0.3s linear;
                }
        
                .line.third-line {
                    bottom: 0;
                }
        
                .hamburger {
                    position: relative;
                    height: 1.35rem;
                    cursor: pointer;
                }
        
                .nav.active .first-line {
                    animation: firstLine 0.5s ease-in-out 0s 1 normal both;
                }
        
                .nav.active .third-line {
                    animation: thirdLine 0.5s ease-in-out 0s 1 normal both;
                }
        
                .nav.active .second-line {
                    opacity: 0;
                }
        
                .nav.not-active .first-line {
                    animation: firstLineee 0.5s ease-in-out 0s 1 normal both;
                }
        
                .nav.not-active .third-line {
                    animation: thirdLineee 0.5s ease-in-out 0s 1 normal both;
                }
    
    .both {
        padding: 0.7rem 1rem;
    }
    .hero{
        flex-direction: column;
        padding: 2rem 5rem;
    }
    .left-part {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left-part h1{
        text-align: center;
    }
    .left-part p {
         text-align: center;
    }

    .right-part {
        width: 100%;
        align-self: initial;
    }

    .buttons-right.secondd{
        flex-direction: column;
    }

    .right.both.secondd {
        padding: 0.7rem 13rem;
    }

    .left.both.seconddd {
        padding: 0.7rem 10rem;
    }

    .lower-part{
            margin: 0rem;
    }
    .hamburger{
        opacity: 100;
    }
}

@media screen and (max-width: 769px){
    .upper-part img{
        height: 3rem;
    }
    .both {
        padding: 0.7rem 10rem;
    }
        .img-div {
            width: 70%;
        }
}

@media screen and (max-width: 650px) {
    .right.both.secondd {
            padding: 0.7rem 10rem;
        }
                .left.both.seconddd {
                    padding: 0.7rem 11rem;
                }
}
@media screen and (max-width: 575px) {
    .right.both.secondd,
    .left.both.secondd {
        padding: 0.7rem 9rem;
    }

        .hero {
            padding: 1rem 2rem;
        }
}

@media screen and (max-width: 588px) {
    .upper-part img {
        height: 5rem;
    }
        .right.both.secondd, .left.both.seconddd  {
            padding: 0.7rem 5rem;
        }

                .right-div {
                    width: 100%;
                    padding: 2rem 2rem;
                }
}

@media screen and (max-width: 500px) {
    .upper-part img {
        height: 4rem;
    }
    .right.both.secondd,
    .left.both.secondd {
            padding: 0.7rem 6rem;
        }
}

@media screen and (max-width: 440px){
    .right.both.secondd,
    .left.both.secondd {
            padding: 0.7rem 4rem;
        }
    .two {
    gap: 2rem;
        }
        .img-div {
            margin: 2rem 0rem 0rem 0rem;
        }
}


/* .pink{
    width: 5rem;
    height: 5rem;
    background-color: pink;
    transition: all ease-in-out 0.9s;

}

.pink:hover{
    background-color: red;
    transform: scale(3);
    border-radius: 2rem;
}

.baby-blue{
    width: 5rem;
    height: 5rem;
    background-color: lightblue;
    border-radius: 50%;
    animation-name: animationTwo;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.25, .1, .82, .39);
    animation-fill-mode: forwards;
    animation-duration: 1s;
   animation-direction: alternate;
}

.purple{
    width: 5rem;
    height: 5rem;
    background-color: violet;
}

.purple:hover{
    animation-name: animationOne;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: 3;
}

@keyframes animationOne{
    0% {
        background-color: violet;
    }
    100% {
        background-color: rosybrown;
        transform: scale(2);
    }
}
@keyframes animationTwo {
    0% {
        transform: translateY(0rem);
    }
    100% {
        transform: translateY(5rem);
    }
} */

a {
    text-decoration: none;
    color: #DCE0E6;
}

